<aside class="recipes">
  <div class="recipes__top">
    <mat-form-field class="recipes__search">
      <mat-label class="label-with-icon">
        <mat-icon>search</mat-icon> Search recipes...
      </mat-label>
      <input
        matInput
        placeholder="Search recipes..."
        type="text"
        (input)="filterRecipes(recipeName.value)"
        #recipeName
      />
    </mat-form-field>
    <a
      routerLink="create"
      mat-raised-button
    >
      <mat-icon>add_box</mat-icon>Create
    </a>
  </div>
  <div class="recipes__list">
    <ng-container *ngIf="(loading$ | async) === false">
      <ng-container *ngIf="recipes$ | async as recipes">
        <app-recipe-tile
          *ngFor="let recipe of recipes"
          [recipe]="recipe"
          (recipeSelected)="fetchRecipe($event)"
          (recipeDeleted)="deleteRecipe($event)"
        ></app-recipe-tile>
        <div
          *ngIf="!recipes.length"
          class="no-recipes"
        >
          <mat-icon class="icon--large faded">
            indeterminate_check_box
          </mat-icon>
          <span class="text--large faded">
            No recipes found...
          </span>
        </div>
      </ng-container>
    </ng-container>
    <div
      *ngIf="loading$ | async"
      class="no-recipes"
    >
      <mat-spinner></mat-spinner>
    </div>
  </div>
</aside>