<ng-container *ngIf="recipeData$ | async as recipe">
  <app-header [title]="recipe.name">
    <mat-icon>notes</mat-icon>
  </app-header>
  <h3 class="info-header">Preparation time: <span class="light">{{ recipe.preparationTimeInMinutes | prepTime }}</span>
  </h3>
  <div class="description">
    <h3 class="info-header">Description:</h3>
    <p>{{ recipe.description }}</p>
  </div>
  <ng-container *ngIf="recipe.ingredients.length">
    <h4>Ingredients:</h4>
    <ul>
      <li
        class="ingredient"
        *ngFor="let ingredient of recipe.ingredients"
      >
        <p class="ingredient__name">{{ ingredient.name | titlecase }}</p>
        <p>Quantity: {{ ingredient.quantity }}</p>
      </li>
    </ul>
  </ng-container>
</ng-container>