.navbar {
  width: 100%;
  padding: 20px 0;
  position: sticky;
  top: 0;

  &__wrapper {
    max-width: calc(1440px - 2 * 50px);
    margin: 0 auto;
    width: 100%;
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 500;
  }
}
