/* You can add global styles to this file, and also import other style files */

@import 'consts';

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.label-with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mat-success {
  background-color: map-get($colors, success);
  color: map-get($colors, white);
}