<app-header [title]="!editMode ? 'Create new recipe' : 'Edit recipe'">
  <mat-icon>{{ !editMode ? "add_box" : "edit" }}</mat-icon>
</app-header>
<form
  class="form"
  (ngSubmit)="onSubmit()"
  [formGroup]="form"
>

  <app-control-input
    controlName="name"
    type="text"
    label="Name"
    [maxLength]="maxNameLength"
  ></app-control-input>
  <app-control-input
    controlName="preparationTimeInMinutes"
    type="number"
    label="Preparation time (in minutes)"
  ></app-control-input>
  <app-control-input
    class="last-control"
    controlName="description"
    type="text"
    label="Description"
    [maxLength]="maxDescriptionLength"
  ></app-control-input>
  <div
    class="ingredients"
    formArrayName="ingredients"
    *ngFor="
      let ingredient of getFormArray('ingredients').controls;
      let i = index
    "
  >
    <div
      class="ingredients__item"
      [formGroupName]="i"
    >
      <h4>New ingredient:</h4>
      <app-control-input
        controlName="name"
        type="text"
        label="Name"
        [maxLength]="maxNameLength"
      ></app-control-input>
      <app-control-input
        class="last-control"
        controlName="quantity"
        type="number"
        label="Quantity"
      ></app-control-input>
      <button
        class="btn"
        type="button"
        (click)="removeIngredient(i)"
        mat-raised-button
      >
        <mat-icon>remove</mat-icon>Remove ingredient
      </button>
    </div>
  </div>
  <mat-error
    class="fine-print"
    *ngIf="getFormArray('ingredients').length < 2"
  >At least two ingredients are required</mat-error>
  <span class="fine-print"><span class="strong">*</span> - required field.</span>

  <div class="form__bottom">
    <button
      class="btn"
      type="button"
      (click)="addIngredient()"
      mat-raised-button
    >
      <mat-icon>library_add</mat-icon>Add ingredient
    </button>
    <button
      class="btn"
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
    >
      <mat-icon>{{ editMode ? 'check_box' : 'add_box' }}</mat-icon> {{ editMode ? 'Save changes' : 'Create recipe' }}
    </button>
  </div>
</form>