@import "ui";

@include ui;

.form {
  display: flex;
  flex-direction: column;

  .ingredients {
    padding-left: 20px;

    &__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
